/* General */
body {
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar {
        text-align: center;
    }
}

body{
    background: url('http://cleancanvas.herokuapp.com/img/backgrounds/color-splash.jpg') no-repeat center center fixed;
    background-size: cover;
}

.jumbotron
{
    opacity:0.6
}

/*Sign In */
.form-signin {
    max-width: 280px;
    margin: 50px auto 50px;
}

/*Register */
.form-register {
    max-width: 600px;
    margin: 50px auto 50px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 40px;
}
.left-inner-addon p {
    position: absolute;
    padding: 7px 5px;
    pointer-events: none;
}
